@font-face {
    font-family: 'Fortika';
    src: url('fortika-regular-webfont.woff2') format('woff2'),
         url('fortika-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
